<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
    <header th:replace="layout/layout :: header"></header>
    <div class="container">
        <h1 class="text-secondary border border-success border-top-0 border-left-0 border-right-0" th:text="${title}"></h1>
        <div th:object="${customer}" th:remove="tag">
            <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                <li th:each="error : ${#fields.errors('*')}" th:text="${error}"></li>
            </ul>
        </div>
        <form th:action="@{/form}" th:object="${customer}" method="post">
            <div class="from-group row">
                <label class="col-sm-2 col-form-label">Nombre</label>
                <div class="col-sm-6">
                    <input type="text" th:field="*{name}" class="form-control" th:errorclass="'form-control alert-danger'"/>
                    <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="form-text text-danger"></small>
                </div>
            </div>
            <div class="from-group row">
                <label class="col-sm-2 col-form-label">Apellido</label>
                <div class="col-sm-6">
                    <input type="text" th:field="*{surname}" class="form-control" th:errorclass="'form-control alert-danger'"/>
                    <small th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" class="form-text text-danger"></small>
                </div>
            </div>
            <div class="from-group row">
            <label class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-6">
                    <input type="text" th:field="*{email}" class="form-control" th:errorclass="'form-control alert-danger'"/>
                    <small th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="form-text text-danger"></small>
                </div>
            </div>
            <div class="from-group row">
                <label class="col-sm-2 col-form-label">Fecha de registro</label>
                <div class="col-sm-6">
                    <input type="text" th:field="*{createAt}" class="form-control" th:errorclass="'form-control alert-danger'"/>
                    <small th:if="${#fields.hasErrors('createAt')}" th:errors="*{createAt}" class="form-text text-danger"></small>
                </div>
            </div>
            <div class="from-group row">
                <div class="col-sm-6">
                    <input type="submit" value="Save" class="btn btn-primary"/>
                </div>
            </div>
        </form>
    </div>
    <footer th:replace="layout/layout :: footer"></footer>
</body>
</html>